extends base

block append head 

block content
  main.main.flex.flex-col-reverse(class="md:flex-row" id="cart-page-main")
    .cart-page.flex-1.mx-auto.my-10.max-w-4xl.p-8.bg-white.shadow-md.rounded-lg
      h2.text-2xl.font-semibold.mb-6 Thank you for shopping with us 
      a(href="/").sky-400.border-sky-400.text-center.font-bold.block.w-full.underline.underline-offset-4.text-xl Back to Home
