extends base

block append head 
  //- script(src="/js/axios.1.4.0.min.js" defer)
  //- script(src="/js/alerts.js", defer)
  script(src="/js/signup.js", defer)

block content
  main.main
    .signup-form.mx-auto.my-10.max-w-sm.p-8.bg-white.shadow-md.rounded-lg
      h2.text-2xl.font-semibold.mb-6 Sign up for an account
      form.form.form--signup
        .form__group.mb-4
          label.block.text-gray-700.text-lg.font-bold.mb-2(for="email") Email address
          input#email.form__input.block.w-full.px-3.py-2.border.rounded-md.shadow-sm.placeholder-gray-400(class="focus:outline-none focus:border-sky-400 focus:ring focus:ring-sky-400 focus:ring-opacity-50" type="email", placeholder="you@example.com", required)
        .form__group.mb-4
          label.block.text-gray-700.text-lg.font-bold.mb-2(for="password") Password
          input#password.form__input.block.w-full.px-3.py-2.border.rounded-md.shadow-sm.placeholder-gray-400(class="focus:outline-none focus:border-sky-400 focus:ring focus:ring-sky-400 focus:ring-opacity-50" type="password", placeholder="********", required, minlength="8")
        .form__group.mb-4
          label.block.text-gray-700.text-lg.font-bold.mb-2(for="confirmPassword") Confirm Password
          input#confirmPassword.form__input.block.w-full.px-3.py-2.border.rounded-md.shadow-sm.placeholder-gray-400(class="focus:outline-none focus:border-sky-400 focus:ring focus:ring-sky-400 focus:ring-opacity-50" type="password", placeholder="********", required, minlength="8")
        .form__group
          button.btn.btn--green.px-4.py-2.bg-green-500.text-white.rounded-md(class="hover:bg-green-600" type="submit") Sign Up
