extends base

block append head 
  script(src="/js/signup.js", defer)
  script(src="/js/login.js", defer)

block content
  main.main
    .signup-form.mx-auto.my-10.max-w-sm.p-8.bg-white.shadow-md.rounded-lg
      h2.text-2xl.font-semibold.mb-6 Sign up for an account
      form.form.form--signup
        .form__group.mb-4
          label.block.text-gray-700.text-lg.font-bold.mb-2(for="email") Email address
          input#email.form__input.block.w-full.px-3.py-2.border.rounded-md.shadow-sm.placeholder-gray-400(class="focus:outline-none focus:border-sky-400 focus:ring focus:ring-sky-400 focus:ring-opacity-50" type="email", placeholder="you@example.com", required)
        .form__group.mb-4
          label.block.text-gray-700.text-lg.font-bold.mb-2(for="password") Password
          input#password.form__input.block.w-full.px-3.py-2.border.rounded-md.shadow-sm.placeholder-gray-400(class="focus:outline-none focus:border-sky-400 focus:ring focus:ring-sky-400 focus:ring-opacity-50" type="password", placeholder="********", required, minlength="4")
        .form__group.mb-4
          label.block.text-gray-700.text-lg.font-bold.mb-2(for="confirmPassword") Confirm Password
          input#confirmPassword.form__input.block.w-full.px-3.py-2.border.rounded-md.shadow-sm.placeholder-gray-400(class="focus:outline-none focus:border-sky-400 focus:ring focus:ring-sky-400 focus:ring-opacity-50" type="password", placeholder="********", required, minlength="4")
        .form__group.mb-4
          button.px-4.py-2.mx-auto.w-full.bg-sky-400.text-white.text-center.rounded-md(class="hover:bg-sky-500" type="submit")  Sign Up
        .form__group.mb-4.mx-auto
          button#goto-login.px-4.py-2.block.mx-auto.w-full.bg-green-500.text-white.text-center.rounded-md(class="hover:bg-green-600") Login to existing account
        .form__group.mb-4
          button#demo-user.px-4.py-2.mx-auto.w-full.bg-gray-800.text-white.text-center.rounded-md(class="hover:bg-gray-950") Demo User
